<div class="container mt-4 title">
    <div class="row">
       <div class="col">
             <h1>
                 <i class="fa-solid fa-pen"></i>&nbsp;
                 Edit Contact Page
             </h1>
             <p style="text-align: justify;">
                 This is dummy data: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nostrum dignissimos id ab quaerat quidem sit saepe molestiae vitae cupiditate, velit doloribus, ut sed facilis, ipsam fugiat tempore praesentium quasi!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nostrum dignissimos id ab quaerat quidem sit saepe molestiae vitae cupiditate, velit doloribus, ut sed facilis, ipsam fugiat tempore praesentium quasi!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nostrum dignissimos id ab quaerat quidem sit saepe molestiae vitae cupiditate, velit doloribus, ut sed facilis, ipsam fugiat tempore praesentium quasi!
             </p>
       </div>
    </div>
    <!-- add contact form -->
    <div class="container">
     <div class="row">
         <div class="col-md-6">
             <form class="border p-3 rounded">
              <div class="mb-2">
                     <input type="text" class="form-control" placeholder="Name">
              </div>
             <div class="mb-2" >
                     <input type="text" class="form-control" placeholder="Photo URL">
             </div>                 
             <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Email ID">
             </div>                      
             <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Mobile Number">
             </div>                      
             <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Company">
             </div>  
             <div class="mb-2">
                  <input type="text" class="form-control" placeholder="Title">
             </div> 
             <div class="mb-2">
                 <select name="" id="" class="form-control">
                     <option value="" selected hidden disabled>Select A Group</option>
                     <option value="">Family</option>
                     <option value="">Friends</option>
                 </select>
             </div>  
             <div class="mb-2">
                 <input value="Update" type="button" class="btn btn-success">
                 <a routerLink="/" class="btn btn-warning ms-3">Close</a>
             </div>
             </form>
         </div>
         <div class="col-md-4">
             <img src="https://cdn-icons-png.flaticon.com/512/4128/4128176.png" alt="no image" class="contact_image mt-3">
         </div>
     </div>
    </div>
 </div>